<div class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
          <%= link_to "Brand", root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Home", root_path %>
                </li>
            </ul>

            <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Edit profile", edit_user_registration_path %>
                </li>
                <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li> <%= link_to "Sign In", new_user_session_path %>
                </li>
              </ul>
            <% end %>
        </div>

    </div>
</div>